.switchery {
    background-color:#fff;
    border:1px solid #dfdfdf;
    border-radius:20px;
    cursor:pointer;
    display:inline-block;
    height:30px;
    position:relative;
    vertical-align:middle;
    width:50px
}
.switchery>small {
    background:#fff;
    border-radius:100%;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
    height:30px;
    position:absolute;
    top:0;
    width:30px
}
.checkedStyle{
    box-shadow: rgb(100, 189, 99) 0px 0px 0px 16px inset; border-color: rgb(100, 189, 99); transition: border 0.4s, box-shadow 0.4s, background-color 1.2000000000000002s; -webkit-transition: border 0.4s, box-shadow 0.4s, background-color 1.2000000000000002s; background-color: rgb(100, 189, 99);
}